%rebase('osnova.html', naslov='Administrator', navigator='/administrator' )


	<h1 class="naslov">Administrator</h1>
	<p>
	Stran, iz katere lahko administrator dostopa do baze in jo spreminja.
	</p>

    <h2>Dodajanje</h2>
    <a href="/administrator/dodaj_pristanisce">
        <img src="static/slike/Admin_dodaj_prstanisce.png", alt="Dodajanje pristanišč">
    </a>
    <!--<li><a href="/administrator/dodaj_odsek">Dodajanje odseka</a></li>-->
    <li><a href="/administrator/dodaj_nacrt_poti">Dodajanje načrta poti</a></li>
    <li><a href="/administrator/dodaj_izvedbo_potovanja">Dodajanje izvedbe potovanja</a></li>



    <a href="/administrator/dodaj_ladjo">
        <img src="static/slike/Admin_dodaj_ladjo.png", alt="Dodajanje pristanišč">
    </a>
    <a href="/administrator/dodaj_kabino">
        <img src="static/slike/Admin_dodaj_kabino.png", alt="Dodajanje pristanišč">
    </a>
    <a href="/administrator/dodaj_ceno_kabine">
      <img src="static/slike/Admin_dodaj_ceno_kabine.png", alt="Dodajanje pristanišč">
    </a>


	<form method="get" action="/">
        <button class="gumb">Nazaj</button>
    </form>
