%rebase('osnova.html', naslov='Administrator', navigator='/administrator' )


	<h1>Administrator</h1>
	<p>
	Stran, iz katere lahko administrator dostopa do baze in jo spreminja.
	</p>

    <h2>Dodajanje</h2>
    <li><a href="/administrator/dodaj_pristanisce">Dodajanje pristanišč</a></li>
    <li><a href="/administrator/dodaj_ladjo">Dodajanje ladij</a></li>
    <li><a href="/administrator/dodaj_kabino">Dodajanje kabin</a></li>
    <li><a href="/administrator/dodaj_ceno_kabine">Dodajanje cene kabine</a></li>

	<form method="get" action="/">
        <button class="gumb">Nazaj</button>
    </form>
