%rebase('osnova.html', naslov='Administrator', navigator='/administrator' )


	<h1 class="naslov">Administrator</h1>


    <div class="w3-row">
        <div class="w3-third">

            <a href="/administrator/dodaj_pristanisce">
                <div class="inline-block">
                    <img src="static/slike/Slike_administrator/Dodaj_pristanisce.png", alt="Dodajanje pristanišč">
                </div>
            </a>
        </div>

        <div class="w3-third">
            <a href="/administrator/dodaj_nacrt_poti">
                <div class="inline-block">
                    <img src="static/slike/Slike_administrator/Dodaj_nacrt_poti.png", alt="Dodajanje načrta poti">
                </div>
            </a>
        </div>


        <div class="w3-third">
            <a href="/administrator/dodaj_izvedbo_potovanja">
                <div class="inline-block">
                    <img src="static/slike/Slike_administrator/Dodaj_izvedbo_potovanja.png", alt="Dodajanje načrta poti">
                </div>
            </a>

        </div>

    </div>

    <div class="w3-row">

        <div class="w3-third">
            <a href="/administrator/dodaj_ladjo">
                <img src="static/slike/Slike_administrator/Dodaj_ladjo.png", alt="Dodajanje ladje">
            </a>
        </div>

        <div class="w3-third">
            <a href="/administrator/dodaj_kabino">
                <img src="static/slike/Slike_administrator/Dodaj_kabino.png", alt="Dodajanje kabine">
            </a>
        </div>

        <div class="w3-third">
            <a href="/administrator/dodaj_ceno_kabine">
              <img src="static/slike/Slike_administrator/Dodaj_ceno_kabine.png", alt="Dodajanje cene kabine">
            </a>
        </div>

    </div>

    <div class="w3-row">
        <img src="static/slike/Slike_administrator/Kupljene_vozovnice.png", alt="Kupljene vozovnice">

    </div>


	<form method="get" action="/">
        <button class="gumb">Nazaj</button>
    </form>
