%rebase('osnova.html', naslov='Dodajanje kabin')


	<h1 class="naslov">Dodajanje kabin</h1>
	<p>
		Vpišite podatke za kabino, ki jo želite dodati.
	</p>

    <div class="vrstica">
      <form method="POST" action="/administrator/dodaj_kabino_v_bazo">
        <table>
            <tr>
                <td>
                  Število ležišč:
                </td>
                <td>
                  <input type="text" name="stevilo_lezisc" value=""/>
                </td>
            </tr>
            <tr>
                <fieldset>
                    <legend>Izbirni seznam ladij</legend>
                    <p>

                        <label>Izberi ladjo</label>
                        <select name="izbira_ladij">
                            %for id, ime, leto_izdelave, nosilnost in ladje:
                            <option value="{{id}}">{{ime}}</option>
                            %end
                        </select>
                    </p>
                </fieldset>
                <fieldset>
                    <legend>Izbirni seznam tipa kabin</legend>
                    <p>

                        <label>Izberi tip kabine</label>
                        <select name="izbira_tipa_kabine">
                            %for id, tip in tipi_kabin:
                            <option value="{{tip}}">{{tip}}</option>
                            %end
                        </select>
                    </p>
                </fieldset>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td class="gumb_dodaj">
                    <input type="hidden" name="id_ladje" id="stevilka_ladje"/>
                    <input type="submit" value="Dodaj" name="dodaj" class="gumb" />
                </td>
            </tr>
        </table>

      </form>
    </div>

    % include('SeznamKabin.tpl', kabine=kabine)

	<form method="get" action="/administrator">
        <button class="gumb">Nazaj</button>
    </form>
