%rebase('osnova.html', naslov='Dodajanje cene kabine', navigator='/dodajCenoKabine' )


	<h1 class="naslov">Dodajanje cene kabine</h1>
	<p>
		Vpišite podatke za ceno kabine, ki jo želite dodati.
	</p>

    <div class="vrstica">
      <form method="POST" action="/administrator/dodaj_ceno_kabine_v_bazo">
        <table>
            <tr>
                <td class="glava">
                  Cea kabine:
                </td>
                <td>
                  <input type="text" name="cena_kabine" value=""/>
                </td>
            </tr>
            <tr>
                <fieldset>
                    <legend>Izbirni seznam tipov kabin.</legend>
                    <p>

                        <label>Izberi tip kabine.</label>
                        <select name="izbira_tipa_kabine">
                            %for id, tip in tipi_kabin:
                            <option value="{{id}}">{{tip}}</option>
                            %end
                        </select>
                    </p>
                </fieldset>
                <fieldset>
                    <legend>Izbirni seznam potovanj.</legend>
                    <p>

                        <label>Izberi potovanje.</label>
                        <select name="izbira_nacrta_poti">
                            %for id, naziv_potovanja in potovanja:
                            <option value="{{id}}">{{naziv_potovanja}}</option>
                            %end
                        </select>
                    </p>
                </fieldset>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td class="gumb_dodaj">
                    <input type="hidden" name="id_ladje" id="stevilka_ladje"/>
                    <input type="submit" value="Dodaj" name="dodaj" class="gumbi" />
                </td>
            </tr>
        </table>

      </form>
    </div>


	<form method="get" action="/administrator">
        <button class="gumb">Nazaj</button>
    </form>

