%rebase('osnova.html', naslov='Dodajanje ladij')


	<h1 class="naslov">Dodajanje ladij</h1>
	<p>
		Vpišite podatke za ladjo, ki jo želite dodati.
	</p>

    <div>
      <form method="POST" action="/administrator/dodaj_ladjo_v_bazo">
        <table>
            <tr>
                <td>
                  Ime:
                </td>
                <td>
                  <input type="text" name="ime" value=""/>
                </td>
            </tr>
            <tr>
                <td>
                  Leto izdelave:
                </td>
                <td>
                  <input type="text" name="leto_izdelave" value=""/>
                </td>
            </tr>
            <tr>
                <td>
                  Nosilnost:
                </td>
                <td>
                  <input type="text" name="nosilnost" value=""/>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                  <input type="submit" value="Dodaj" name="dodaj" class="gumb"/>
                </td>
            </tr>
        </table>

      </form>
    </div>

    % include('SeznamLadij.tpl', ladje=ladje)

	<form method="get" action="/administrator">
        <button class="gumb">Nazaj</button>
    </form>
