%rebase('osnova.html', naslov='Glavna', navigator='/' )

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN">
<html>

<body>
	<h1>Ladje</h1> 
	
	<li><a href="file:\\\U:\3. letnik\Podatkovne baze 1\Seminarska naloga\Spletne strani\ladja.html">Iskanje ladij</a href></li>
	<li><a href="file:\\\U:\3. letnik\Podatkovne baze 1\Seminarska naloga\Spletne strani\potovanje.html">Potovanje</a href></li>
	<li><a href="file:\\\U:\3. letnik\Podatkovne baze 1\Seminarska naloga\Spletne strani\pristanisca.html">Pristanišča</a href></li>


</body>


</html>