%rebase('osnova.html', naslov='Glavna', navigator='/' )


<h1 class="naslov">Izpisi</h1>

<a href="/izpis_ladij">
    <img src="static/slike/Ladje_vezava2.png" alt="Izpis ladij", height =150 >
</a>

<a href="/izpis_pristanisc">
    <img src="static/slike/Pristanisca_vezava.png" alt="Izpis pristanišč", height =150>
</a>

<a href="/izpis_kabin">
    <img src="static/slike/Kabine_vezava.png" alt="Izpis kabin", height =150>
</a>

<h1 class="naslov">V nastajanju</h1>
<a href="/potovanje">
    <img src="static/slike/Vozovnice_vezava.png" alt="Izpis kabin", height =150>
</a>



<h1 class="naslov">Administrator</h1>
<li><a href="/administrator">Administrator</a></li>

