%rebase('osnova.html', naslov='Izpis ladij', navigator='/ Izpis / Ladje' )


    <h1>Izpis ladij</h1>

    <p>
    Tole bo stran, kjer bo prikazan seznam vseh ladij z njihovimi
    podatki, razen z osebnimi podatki potnikov.
    </p>

    <!-- Izpis ladij -->
    %for ladja in ladje:
    <li>{{ladja}}</li>
    %end
    <form method="get" action="/dodaj/ladjo">
        <button class="gumb">Dodaj še eno ladjo</button>
    </form>

    <form method="get" action="/">
        <button class="gumb">Nazaj</button>
    </form>

    <!--druga možnost:-->
    <!--<form>-->
        <!--<button formaction="/">Nazaj</button>-->
    <!--</form>-->

    <!--tretja možnost:-->
    <!--<button onclick="window.history.go(-1)">Nazaj</button>-->


