%rebase('osnova.html', naslov='Izpis ladij', navigator='/IzpisLadij' )


<h1 class="naslov">Naše ladje:</h1>


<table id="tabele">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Ime</th>
        <th scope="col">Leto izdelave</th>
        <th scope="col">Nosilnost [tone]</th>
    </tr>
    </thead>
    <tbody>

        %for id, ime, leto_izdelave, nosilnost in ladje:
        <tr>
            <td scope="row">{{id}}</td>
            <td>{{ime}}</td>
            <td>{{leto_izdelave}}</td>
            <td>{{nosilnost}}</td>
        </tr>
        % end

    </tbody>
</table>

<!--% include('SeznamLadij.tpl', ladje=ladje)-->


<form method="get" action="/">
    <button class="gumb">Nazaj</button>
</form>

<!--druga možnost:-->
<!--<form>-->
<!--<button formaction="/">Nazaj</button>-->
<!--</form>-->

<!--tretja možnost:-->
<!--<button onclick="window.history.go(-1)">Nazaj</button>-->


