%rebase('osnova.html', naslov='Ladja', navigator='/' )


    <h1>Iskanje ladij</h1>

    <p>
    Tole bo stran, kjer bo prikazan seznam vseh ladij z njihovimi
    podatki, razen z osebnimi podatki potnikov.
    </p>

    <!-- Izpis ladij -->
    %for ladja in ladje:
    <li>{{ladja}}</li>
    %end
    <form method="get" action="/">
        <button class="gumb">Nazaj</button>
    </form>

    <!--druga možnost:-->
    <!--<form>-->
        <!--<button formaction="/">Nazaj</button>-->
    <!--</form>-->

    <!--tretja možnost:-->
    <!--<button onclick="window.history.go(-1)">Nazaj</button>-->


