%rebase('osnova.html', naslov='Izpis kabin', navigator='/IzpisKabin' )


    <h1 class="naslov">Nakup vozovnice</h1>

    <div>
        Število vozovnic: {{stevilo_vozovnic}}
        Id potovanja: {{id_potovanja}}
        Id kabine = {{id_kabine}}
    </div>

    <div>
        <form method="POST" action="/administrator/dodaj_vozovnico_v_bazo">
            <table>
                <tr>
                    <td>
                        Ime:
                    </td>
                    <td>
                        <input type="text" name="ime" value=""/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Priimek:
                    </td>
                    <td>
                        <input type="text" name="priimek" value=""/>
                    </td>
                </tr>
                <tr>
                    <td>
                        EMŠO:
                    </td>
                    <td>
                        <input type="text" name="emso" value=""/>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <input type="submit" value="Potrdi nakup vozovnice" name="dodaj" class="gumb"/>
                    </td>
                </tr>
            </table>

        </form>
    </div>

    <form method="get" action="/potovanje">
        <button class="gumb">Nazaj</button>
    </form>



