<html>
<head>
    <title>{{naslov}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/static/css/ladja.css" rel="stylesheet">

<!--    &lt;!&ndash; Predhodno smo potegnili css in js datoteke s spleta in jih shranili v static/, zato jih lahko kličemo kar od tam.&ndash;&gt;
    &lt;!&ndash; Bootstrap CSS &ndash;&gt;
    &lt;!&ndash;<link rel="stylesheet" href="../static/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">&ndash;&gt;

    &lt;!&ndash;<link rel="stylesheet" href="../static/css/w3.css">&ndash;&gt;
    <link rel="stylesheet" href="../static/css/jquery-ui.css">
    <link href="/static/css/ladja.css" rel="stylesheet">

    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/jquery-ui.js"></script>

    &lt;!&ndash; Linki, za oblikovanje tabel &ndash;&gt;
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>-->

</head>

<div class="w3-container">
<body>
    <!-- Navigator  -->
    <!--<div class="navigator">{{navigator}}</div>-->

    <img src="static/slike/Logo_majhen3.png" alt="Logo", height="50">
    {{!base}}


    <!-- Dodamo java script, ki ga zahteva bootstrap-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>-->
</body>
</div>
</html>