<html>
<div class="topnav">
    <a href="/">
        <img src="/static/slike/Logo_majhen_podlaga.png" alt="Logo", height="50">
    </a>
    <a href="/prikazi_prijavo" style="float:right">
        <img src="/static/slike/Admin2.png" alt="Administrator">
    </a>
</div>

<head>
    <title>{{naslov}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/static/css/ladja.css" rel="stylesheet">

    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/jquery-ui.js"></script>

</head>

<div class="w3-container">
<body>

    {{!base}}

</body>
</div>

</html>